# fly.toml app configuration file generated for skywire
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "skywire"
primary_region = "iad"

[build]

[env]
  PHX_HOST = "skywire.fly.dev"
  PORT = "8080"
  EVENT_RETENTION_DAYS = "7"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

[deploy]
  release_command = "/app/bin/migrate"
